
*.v1_projectinfodelta
*.v1_astdelta
*.snap
*.prefs
*.fdx
*.fnm
*.fdt
*.frq
*.nrm
*.xmi
*.tii
*.resources
.metadata/.mylyn/repositories.xml.zip
.metadata/.lock
.metadata/.log
*.gen
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.mylyn/tasks.xml.zip
*.pydevsysteminfo
*.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments_1
*.lock
*.prx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_2
*.json
*.dat
*.history
*.index
*.log
*.xml
*.setup
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/modulesKeys
.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/pythonpath
*.inn
*.top
*.ini
FacialRecognition/.project
FacialRecognition/.pydevproject
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.python.pydev/pyunit_tests/test_run_pin_info.txt
*.v1_sys_astdelta
*.launch
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_5
FacialRecognition/Code/Gui.py
FacialRecognition/Code/DialogFlow.py
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_8
*.zip
